* {
  margin: 0;
}
body {
  background-image: url(../images/login-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h3 {
  color: rgb(253, 110, 0);
}
.content-outer {
  position: relative;
  height: 100vh;
}
.content {
  background: rgba(148, 148, 148, 0);
  border-radius: 8px;
  border: none;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
legend {
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.login-form {
}
.login-tab {
  background: rgb(205, 206, 205);
  border-radius: 8px;
  box-shadow: 4px 4px 8px white;
  padding: 20px;
}
.login-tab tr td {
  padding: 5px 5px;
  line-height: 15px;
}

.point-txt {
  font-size: 14px;
  color: red;
  padding-top: 15px;
  text-align: center;
}
.logout {
  text-align: center;
}

/*按鈕設定*/
.btn {
  padding: 10px;
  margin: 5px 15px;
  border-radius: 8px;
  border: none;
}
.btn-login {
  font-size: 16px;
  color: rgb(251, 251, 253);
  background: rgb(23, 21, 21);
}
.btn-logout {
  font-size: 12px;
  background: white;
  color: black;
}

.btn-logout:hover,
.btn-login:hover {
  background: rgb(251, 237, 131);
  color: black;
  cursor: pointer;
}
.btn-register {
  font-size: 12px;
  background: white;
  color: black;
  margin: 4px 40px;
}

.btn-register:hover {
  cursor: pointer;
  background: rgb(251, 181, 181);
}
