<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wendy's首頁</title>
</head>
<body style="background-color: bisque;">
    <h2>歡迎來到Home Page</h2>
    <fieldset>
        <legend><b>連結總集合</b></legend>
        <li><button onclick="document.location='http://localhost:8087/hello/bean'">ShowCompany</button></li> 
        <li><a href="http://localhost:8087/hello/bean2">SayHello2</a></li> 
	    <!--<li><a href="http://localhost:8087/users/register">會員註冊</a></li> -->
        <!--開新視窗-->
		<p><a href="http://localhost:8087/users/login" target="_blank">會員登入</a></p>
        <p><a href="http://localhost:8087/users/qry">會員資料查詢</a></p>
    </fieldset>
</body>
</html>