<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/styleRegister.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/styleRegister.css"
    />
    <title>會員註冊</title>
  </head>
  <body>
    <div class="content-outer">
      <!--表單頁面-->
      <fieldset class="content">
        <legend>會員註冊</legend>
        <div class="register-form">
          <!--刻一個表單-->
          <!--action="" 空值意指回到原端點-->
          <form method="post" action="">
            <table class="register-tab" border="0">
              <tr>
                <td>使用者名稱</td>
                <td><input type="text" name="userName" required /></td>
              </tr>
              <tr>
                <td>使用者密碼</td>
                <td><input type="password" name="password" required /></td>
              </tr>
              <tr>
                <td>真實姓名</td>
                <td><input type="text" name="realName" required /></td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td><input type="text" name="email" /></td>
              </tr>

              <tr>
                <td></td>
                <td>
                  <input type="reset" value="還原" class="btn btn-register" />
                  <input type="submit" value="註冊" class="btn btn-register" />
                </td>
              </tr>
              <tr>
                <td><h3 th:text="${message}"></h3></td>
                <td></td>
              </tr>
            </table>
          </form>
        </div>
      </fieldset>
    </div>
  </body>
</html>
